<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="CurrencyExchange.Properties.Settings.KASETY_407_02ConnectionString"
            connectionString="Data Source=NT-27.WWSI.EDU.PL,1601;Initial Catalog=KASETY_407_02;Persist Security Info=True;User ID=Z407_02;Password=@udiA6C6"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>